/* --------------var--------------- */

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3fb;
  --primary-white-color: #ffffff;
  --primary-link-color: #afb1b8;
  --projects-list-gap: 30px;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.span-logo {
  color: var(--accent-color);
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.btn {
  cursor: pointer;
  border: none;
  padding: 6px 22px;
  border-radius: 4px;
  background-color: #f5f4fa;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.heading {
  text-align: center;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* ----------------index.html---------------------- */

/* ---------------header------------------------- */
.header {
  background-color: var(--primary-white-color);
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  margin-left: 93px;
}

.header-item {
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-link {
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
}

.current {
  color: var(--accent-color);
}

.current::after {
  content: '';
  display: block;
  background: #2196f3;
  height: 4px;
  border-radius: 2px;
  bottom: 0;
  width: 100%;
  position: absolute;
}

.header-mail,
.header-tel {
  padding-top: 32px;
  padding-bottom: 32px;

  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-mail-tel {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.header-mail-tel .header-mail-tel-list + .header-mail-tel-list {
  margin-left: 50px;
}

.header-mail::before {
  content: '';
  fill: var(--secondary-text-color);
}

.envelope {
  margin-right: 10px;
  fill: var(--secondary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mail:hover .envelope,
.header-mail:focus .envelope {
  fill: var(--accent-color);
}

.smartphone {
  margin-right: 10px;
  fill: var(--secondary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-tel:hover .smartphone,
.header-tel:focus .smartphone {
  fill: var(--accent-color);
}

/* --------------HERO------------------ */
.hero {
  background-color: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/img-min.jpg);
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-heading {
  margin-bottom: 30px;

  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.hero-btn {
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  border-radius: 4px;
  border: hidden;
  cursor: pointer;
}

/* ------------------main--------------------- */
/* ------------------BENEFITS------------------ */
.benefits {
  padding-bottom: 0;
}

.benefits-list {
  display: flex;
}

.benefits-item {
  width: 270px;
}

.benefits-item:not(:last-child) {
  margin-right: 30px;
}

.icon-back {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa;
  height: 120px;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 30px;
}

.benefits-heading {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.benefits-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* -------------------ACTIVITY---------------- */
.activity-heading {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.activity-list {
  display: flex;
}

.activity-item:not(:last-child) {
  margin-right: 30px;
}

.activity-item {
  position: relative;
}

.activity-description {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-white-color);

  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  padding: 27px 82px;
}
/* -------------------TEAM---------------- */
.team {
  background-color: #f5f4fa;
}

.team-heading {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.team-list {
  display: flex;
}

.team-list .team-item + .team-item {
  margin-left: 30px;
}

.team-div {
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  border-bottom: 1px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
}

.team-item-heading {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-item-text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}

.team-socials {
  display: flex;
  justify-content: center;
}

.socials-item {
  width: 44px;
  height: 44px;
}

.socials-item:not(:last-child) {
  margin-right: 10px;
}

.socials-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--primary-white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-icon {
  fill: var(--primary-link-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--accent-color);
}

.socials-link:hover .socials-icon,
.socials-link:focus .socials-icon {
  fill: var(--primary-white-color);
}

/* --------------CLIENTS---------------- */

.clients-heading {
  margin-bottom: 50px;

  font-family: Roboto;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.clients-list {
  display: flex;
  justify-content: center;
}

.clients-item {
  width: 170px;
  height: 92px;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

/* .clients-link {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

.clients-icon {
  background-color: var(--primary-white-color);
  border: 1px solid var(--primary-link-color);
  padding: 16px 32px;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  fill: var(--primary-link-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

/* -------------------footer-------------------------- */

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  display: block;
  color: var(--primary-white-color);
}

.map {
  display: block;
  margin-top: 20px;

  color: var(--primary-white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-item {
  margin-top: 9px;
}

.footer-mail,
.footer-tel {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer-left {
  margin-right: 70px;
}

.footer-heading {
  /* margin-top: 15px; */
  margin-bottom: 20px;

  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-white-color);
}

.footer-socials {
  display: flex;
}

.footer-socials-link {
  fill: var(--primary-white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-socials-item:not(:last-child) {
  margin-right: 10px;
}

.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: var(--accent-color);
}

.footer-form {
  display: flex;
}

.mailing {
  margin-left: auto;
}

.mailing-heading {
  display: block;
  margin-top: 15px;
  margin-bottom: 20px;

  font-family: Roboto;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-white-color);
}

.mailing-input {
  display: inline-block;
  min-width: 358px;
  height: 50px;
  background-color: #2196f300;
  padding-left: 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  font-size: 14px;
  color: var(--primary-white-color);
}

.mailing-input::placeholder {
  font-family: Roboto;

  font-size: 16px;
  line-height: calc(20 / 16);

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  outline: transparent;
}

.mailing-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;

  margin-left: 12px;
  padding: 10px 28px;

  font-weight: 700;
  font-size: 16px;
  line-height: clac(30 / 16);
  text-align: center;
  letter-spacing: 0.06em;

  background: #2196f3;
  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: transparent;
  cursor: pointer;
}

.icon-send {
  margin-left: 10px;

  fill: var(--primary-white-color);
}

/* .mailing-btn::after {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;

  background-image: url(../images/icon-send.svg);
  background-size: contain;
  background-repeat: no-repeat;
} */

/* --------------MODAL-WINDOW---------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: visible;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;

  min-width: 528px;
  min-height: 581px;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%) scale(1);

  background-color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.backdrop.is-hidden .modal {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%) scale(1.5);
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-white-color);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  fill: var(--accent-color);
}

/* ------------FORM--------------- */

.modal-heading {
  display: block;
  margin-bottom: 12px;

  font-family: Roboto;

  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.modal-form-field {
  margin-bottom: 10px;
}

.modal-lable {
  display: block;
  margin-bottom: 4px;

  font-family: Roboto;

  font-size: 12px;
  line-height: calc(14 / 12);

  letter-spacing: 0.01em;

  color: var(--secondary-text-color);
}

.input-wrap {
  display: block;
  position: relative;
}

.modal-form-input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:hover,
.modal-form-input:focus {
  border-color: var(--accent-color);
}

.modal-form-input:hover + .modal-form-icon,
.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-comments {
  padding-top: 12px;
  padding-left: 16px;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: transparent;
  font-size: 14px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comments::placeholder {
  font-family: Roboto;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.modal-comments:hover,
.modal-comments:focus {
  border-color: var(--accent-color);
}

.modal-check-field {
  margin-bottom: 30px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.check-label {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-left: 8px; */

  font-family: Roboto;

  font-size: 14px;
  line-height: calc(24 / 14);

  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

.modal-link {
  margin-left: 4px;
}

.icon-check {
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-check-icon {
  fill: var(--primary-white-color);
}

.checkbox:checked + .check-label > .icon-check {
  background-color: var(--accent-color);
  border: transparent;
}

.check-btn {
  display: block;
  margin: 0 auto;

  width: 200px;
  height: 50px;

  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  border-radius: 4px;
  border: hidden;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

/* ---------------------portfolio.html-------------------- */

/* ------------------FILTERS--------------- */

.filters-list {
  display: flex;
  justify-content: center;
  padding-top: 0;
  margin-bottom: 50px;
}

.filters-item:not(:last-child) {
  margin-right: 8px;
}

.filters-item {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-item:hover,
.filters-item:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* ---------------PROJECTS--------------- */

.projects-list {
  display: flex;
  flex-wrap: wrap;

  margin-top: calc(-1 * var(--projects-list-gap));
  margin-left: calc(-1 * var(--projects-list-gap));
}

.projects-list > .projects-item {
  flex-basis: calc(100% / 3 - var(--projects-list-gap));

  margin-top: var(--projects-list-gap);
  margin-left: var(--projects-list-gap);
}

.projects-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-overlay {
  position: relative;
  overflow: hidden;
}

.projects-item:hover,
.projects-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-description {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;

  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(28 / 18);
  /* or 156% */

  letter-spacing: 0.03em;

  color: var(--primary-white-color);
}

.projects-item:hover .projects-description {
  transform: translateY(0%);
}

.projects-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.projects-heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;

  color: var(--primary-text-color);

  margin-bottom: 4px;
}

.projects-content {
  background-color: var(--primary-white-color);
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}
