.header {
  background-color: var(--primary-white-color);
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  margin-left: 93px;
}

.header-item {
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-link {
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
}

.current {
  color: var(--accent-color);
}

.current::after {
  content: '';
  display: block;
  background: #2196f3;
  height: 4px;
  border-radius: 2px;
  bottom: 0;
  width: 100%;
  position: absolute;
}

.header-mail,
.header-tel {
  padding-top: 32px;
  padding-bottom: 32px;

  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-mail-tel {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.header-mail-tel .header-mail-tel-list + .header-mail-tel-list {
  margin-left: 50px;
}

.header-mail::before {
  content: '';
  fill: var(--secondary-text-color);
}

.envelope {
  margin-right: 10px;
  fill: var(--secondary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mail:hover .envelope,
.header-mail:focus .envelope {
  fill: var(--accent-color);
}

.smartphone {
  margin-right: 10px;
  fill: var(--secondary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-tel:hover .smartphone,
.header-tel:focus .smartphone {
  fill: var(--accent-color);
}
